.card {
  max-width: 600px;
  margin: auto;
  margin-top: 10%;
  background-image: url("./../assets/ants.svg");


  /* border-color: blue; */


}


.temp-control {
  max-width: 500px;
  margin: auto;

  .temp-display {
    font-size: 10em;
  }
}

h2 {
  text-align: center;
  // font-weight: bolder;
  // -webkit-text-stroke: 1px white;
}
